langchain
python-dotenv
langchain_community
pypdf
bs4
streamlit
ipykernel
arxiv
pymupdf
wikipedia
langchain-text-splitters
langchain-openai
chromadb
sentence_transformers
langchain_huggingface
faiss-cpu
langchain_chroma
duckdb
pandas
openai
langchain-groq
arxiv
wikipedia
langchainhub
validators
youtube_transcript_api
duckduckgo-search
unstructured
pytube
numexpr
huggingface_hub
gradio
ddgs
